<a href="https://colab.research.google.com/github/Liu-yihsuan/Introduction-to-Computers/blob/main/0525.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum = 0
test = int(input('請輸入一個正整數:'))
for n in range(1,test+1):
  sum =sum+n
print('1到', test, '的整數和為', sum)

請輸入一個正整數:50
1到 50 的整數和為 1275

In [ ]:
sum = 0
test = int(input('請輸入一個正整數:'))
for m in range(1,test+1):
  sum = sum+m
  print('1到'+str(m)+'的整數和為:', sum)

請輸入一個正整數:50
1到1的整數和為: 1
1到2的整數和為: 3
1到3的整數和為: 6
1到4的整數和為: 10
1到5的整數和為: 15
1到6的整數和為: 21
1到7的整數和為: 28
1到8的整數和為: 36
1到9的整數和為: 45
1到10的整數和為: 55
1到11的整數和為: 66
1到12的整數和為: 78
1到13的整數和為: 91
1到14的整數和為: 105
1到15的整數和為: 120
1到16的整數和為: 136
1到17的整數和為: 153
1到18的整數和為: 171
1到19的整數和為: 190
1到20的整數和為: 210
1到21的整數和為: 231
1到22的整數和為: 253
1到23的整數和為: 276
1到24的整數和為: 300
1到25的整數和為: 325
1到26的整數和為: 351
1到27的整數和為: 378
1到28的整數和為: 406
1到29的整數和為: 435
1到30的整數和為: 465
1到31的整數和為: 496
1到32的整數和為: 528
1到33的整數和為: 561
1到34的整數和為: 595
1到35的整數和為: 630
1到36的整數和為: 666
1到37的整數和為: 703
1到38的整數和為: 741
1到39的整數和為: 780
1到40的整數和為: 820
1到41的整數和為: 861
1到42的整數和為: 903
1到43的整數和為: 946
1到44的整數和為: 990
1到45的整數和為: 1035
1到46的整數和為: 1081
1到47的整數和為: 1128
1到48的整數和為: 1176
1到49的整數和為: 1225
1到50的整數和為: 1275

In [ ]:
for j in range(1,5):
  print(j)
  for i in range(1,3):
    k = i*j
    print(j, '*', i, '=', k )

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8

In [ ]:
for j in range(1,6):
  print(j)
  for i in range(1,3):
    k = i*j
    print(j, '*', i, '=', k )

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8
5
5 * 1 = 5
5 * 2 = 10

In [ ]:
for  i in range(1,5):
  if(i==4):
    break
  print(i, end =" ")

1 2 3

In [ ]:
count = 0
for string in 'hello!':
  count+=1
  if string == 'o':
    break
  print(string)
print('迴圈結束')
print('迴圈執行了%d次'%count)

h
e
l
l
迴圈結束
迴圈執行了5次

In [ ]:
count = 0
for string in '測試看看!':
  count+=1
  if string == '看':
    break
  print(string)
print('迴圈結束')
print('迴圈執行了%d次'%count)

測
試
迴圈結束
迴圈執行了3次

In [98]:
for j in range(2,10):
  for i in range(1,10):
    k = i*j
    print(j, '*', i, '=', k, end= '\t')
  print('')

2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [101]:
a = int(input('請輸入a的值:'))
print('')
b = int(input('請輸入b的值:'))
if a>b:
  c = a
else:
  c = b
d = (a+1) * (b+1)
for k in range (c,d):
  if k % a == 0 and k % b == 0:
    print(a,'和',b ,'的最小公倍數=',k)
    break

請輸入a的值:4

請輸入b的值:6
4 和 6 的最小公倍數= 12

In [92]:
a = int(input('請輸入正整數:'))
for i in range(1,a+1):
  if i % 5 != 0:
    print(i, end =' ')
    i+=1

請輸入正整數:12
1 2 3 4 6 7 8 9 11 12