<a href="https://colab.research.google.com/github/Liu-yihsuan/Introduction-to-Computers/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
上底 = int(input('請輸入上底長度:'))
下底 = int(input('請輸入梯形下底長度:'))
高 = int(input('請輸入梯形的高度:'))
面積 = (上底+下底)*高/2
print('梯形上底長度為:%d公分，梯形下底長度為:%d公分，梯形高度為:%d公分，梯形面積為:%0.2f平方公分'%(上底,下底,高,面積))

請輸入上底長度:4
請輸入梯形下底長度:3
請輸入梯形的高度:4
梯形上底長度為:4公分，梯形下底長度為:3公分，梯形高度為:4公分，梯形面積為:14.00平方公分

In [65]:
身高 = int(input('請輸入您的身高(cm):'))
體重 = int(input('請輸入您的體重(kg):'))
BMI = 體重/((身高*0.01)**2)
print('身高%d公分，體重%d公斤，BMI值為%0.3f'%(身高,體重,BMI))

請輸入您的身高(cm):160
請輸入您的體重(kg):50
身高160公分，體重50公斤，BMI值為19.531

In [66]:
num = int(input('請輸入正整數'))
if(num%2 == 0):
    print(num,'為偶數!')
else:
    print(num,'為奇數!')

請輸入正整數50
50 為偶數!

In [ ]:
month = int(input("請入月份:"))
if (month >=1 and month <= 12):
    if (month >= 3 and month <= 5):
      print(month, end= "月是春天!")
    elif (month >= 6 and month <= 8):
      print(month, end= "月是夏天!")
    elif (month >= 9 and month <= 11):
      print(month, end= "月是秋天!")
    elif (month >= 1 and month <= 2):
      print(month, end= "月是冬天!")
    elif (month >= 12 and month <= 12):
      print(month, end= "月是冬天!")
else:
    print("月份不再範圍內!")

請入月份:3
3月是春天!

In [ ]:
money = int(input("請輸入購物金額:"))
if (money >= 10000):
    if (money >= 100000):
      print("八折", money * 0.8, end= "元\n")
    elif (money >= 50000):
      print("八五折", money * 0.85, end= "元\n")
    elif (money >= 30000):
      print("九折", money * 0.9, end= "元\n")
    elif (money >= 10000):
      print("九五折", money * 0.9, end= "元\n")
else:
    print("沒打折" , money , end = "元\n")

請輸入購物金額:200000
八折 160000.0元

In [ ]:
for i in range(1,10):
  for j in range(1,10):
    k = i*j
    print('%d * %d =%2d'%(i,j,k),end= '\t')
  print()

1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5	1 * 6 = 6	1 * 7 = 7	1 * 8 = 8	1 * 9 = 9
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 =10	2 * 6 =12	2 * 7 =14	2 * 8 =16	2 * 9 =18
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 =12	3 * 5 =15	3 * 6 =18	3 * 7 =21	3 * 8 =24	3 * 9 =27
4 * 1 = 4	4 * 2 = 8	4 * 3 =12	4 * 4 =16	4 * 5 =20	4 * 6 =24	4 * 7 =28	4 * 8 =32	4 * 9 =36
5 * 1 = 5	5 * 2 =10	5 * 3 =15	5 * 4 =20	5 * 5 =25	5 * 6 =30	5 * 7 =35	5 * 8 =40	5 * 9 =45
6 * 1 = 6	6 * 2 =12	6 * 3 =18	6 * 4 =24	6 * 5 =30	6 * 6 =36	6 * 7 =42	6 * 8 =48	6 * 9 =54
7 * 1 = 7	7 * 2 =14	7 * 3 =21	7 * 4 =28	7 * 5 =35	7 * 6 =42	7 * 7 =49	7 * 8 =56	7 * 9 =63
8 * 1 = 8	8 * 2 =16	8 * 3 =24	8 * 4 =32	8 * 5 =40	8 * 6 =48	8 * 7 =56	8 * 8 =64	8 * 9 =72
9 * 1 = 9	9 * 2 =18	9 * 3 =27	9 * 4 =36	9 * 5 =45	9 * 6 =54	9 * 7 =63	9 * 8 =72	9 * 9 =81

In [ ]:
for i in range(1,10):
    for j in range(i,10):
        print(i,'*',j,'=',k,end='\t')
    print()

1 * 1 = 81	1 * 2 = 81	1 * 3 = 81	1 * 4 = 81	1 * 5 = 81	1 * 6 = 81	1 * 7 = 81	1 * 8 = 81	1 * 9 = 81
2 * 2 = 81	2 * 3 = 81	2 * 4 = 81	2 * 5 = 81	2 * 6 = 81	2 * 7 = 81	2 * 8 = 81	2 * 9 = 81
3 * 3 = 81	3 * 4 = 81	3 * 5 = 81	3 * 6 = 81	3 * 7 = 81	3 * 8 = 81	3 * 9 = 81
4 * 4 = 81	4 * 5 = 81	4 * 6 = 81	4 * 7 = 81	4 * 8 = 81	4 * 9 = 81
5 * 5 = 81	5 * 6 = 81	5 * 7 = 81	5 * 8 = 81	5 * 9 = 81
6 * 6 = 81	6 * 7 = 81	6 * 8 = 81	6 * 9 = 81
7 * 7 = 81	7 * 8 = 81	7 * 9 = 81
8 * 8 = 81	8 * 9 = 81
9 * 9 = 81

In [ ]:
n = int(input("請輸入正整數："))
for i in range(1,n+1):
    for j in range(i,n+1):
        print("*", end="")
    print()

請輸入正整數：10
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
sum = 0
test1 = int(input('請輸入正整數:'))
for n in range(1,test1+1):
  sum = sum+n
print('1到'+str(n)+'的正整數合為:',sum)

請輸入正整數:10
1到10的正整數合為: 55

In [ ]:
sum = 0
test = int(input('請輸入正整數:'))
for n in range(1,test+1):
  sum = sum+n
  print('1到'+str(n)+'的整數合為:',sum)

請輸入正整數:10
1到1的整數合為: 1
1到2的整數合為: 3
1到3的整數合為: 6
1到4的整數合為: 10
1到5的整數合為: 15
1到6的整數合為: 21
1到7的整數合為: 28
1到8的整數合為: 36
1到9的整數合為: 45
1到10的整數合為: 55

In [71]:
i = 0
total = 0
while i <= 50:
    if i % 2 != 0:
        total += i
    i += 1
print('0～50的奇數和結果是', total)

0～50的奇數和結果是 625

In [70]:
i = 0
total = 0
while i <= 50:
    if i % 2 == 0:
        total += i
    i += 1
print('0～50的偶數和結果是', total)

0～50的偶數和結果是 650

In [ ]:
count = 0
for string in 'hello!':
  count = count+1
  if string == 'o':
    break
  print(string)
print('迴圈結束')
print('迴圈執行了%d次'%count)

h
e
l
l
迴圈結束
迴圈執行了5次

In [ ]:
total = i = 1
n = int(input('請輸入正整數n的值:'))
while i <= n:
  total *= i
  i += 1
print('%d!=%d' %(n, total))

請輸入正整數n的值:5
5!=120

In [72]:
a = int(input('請輸入a的值:'))
print()
b = int(input('請輸入b的值:'))

maxno = a * b
for i in range(1,maxno+1):
    if(i % a == 0 and i % b == 0):
        break
print('%d和%d的最小公倍數 = %d' %(a, b, i))

請輸入a的值:4

請輸入b的值:6
4和6的最小公倍數 = 12

In [73]:
n = int(input('請輸入正整數:'))
for i in range(1, n+1):
    if i % 5 == 0:
        continue
    print(i, end= ' ')

請輸入正整數:7
1 2 3 4 6 7

In [ ]:
sum = 0
for i in range(0, 101):
    if (i%3==0 or i%7==0):
        sum += i
print("數值 1~100 中，所有是 3 或 7 倍數的數之總和 =",sum)

數值 1~100 中，所有是 3 或 7 倍數的數之總和 = 2208

In [ ]:
p=1
counter=0
n = int(input("請輸入正整數："))
print(n,"的因數有",end=" ")
while (p<=n):
    if (n%p==0):
        print(p,end=" ")
        counter+=1
    p+=1

print()    
if (counter==2):    
    print(n,"是質數")
else:
    print(n,"不是質數")

請輸入正整數：3
3 的因數有 1 3
3 是質數

In [ ]:
scores = [85, 79, 93]
print("國文成績：%d分" % scores[0]) 
print("數學成績：%d分" % scores[1]) 
print("英文成績：%d分" % scores[2])

國文成績：85分
數學成績：79分
英文成績：93分

In [ ]:
student = ['Tom', 'Mary', 'Tony']
id = [1,2,3]
for i in range(len(id)):
  print('編號:%s 姓名:%s'%(id[i],student[i]))

編號:1 姓名:Tom
編號:2 姓名:Mary
編號:3 姓名:Tony